body {
  font-family:monospace;
  color: white;
  background-color: lightgray;
}

h1{
  text-align: center;
  font-size: 3.5em
}

h2{
  text-align: center;
  font-size: 2em;

}

p{
  font-size: 1.3em;
}

img {
  border-radius: 20px;
  border: 5px solid red;
  width: 20%;
}

h3{
  font-size:2em;
}